.modal-form__conditions {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  text-decoration-line: underline;
  color: $blue-color;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:focus,
  &:hover {
    color: #0089fa;
  }
  @media screen and (min-width: 480px) and (max-width: 1199px) {
    font-size: 12px;
  }
}
