.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  width: 528px;
  height: 581px;

  background-color: $white-color;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  @media screen and (min-width: 480px) and (max-width: 1199px) {
    width: 450px;
    height: 609px;
  }
}
.modal__btn--close {
  position: absolute;
  top: 8px;
  right: 8px;

  cursor: pointer;
  align-items: center;
  box-sizing: border-box;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: var(--white-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
}
.modal__icon--close {
  position: absolute;
  left: 18%;
  top: 20%;

  width: 18px;
  height: 18px;
  &:hover,
  &:focus {
    fill: #2196f3;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}
