.modal-form__input {
  width: 448px;
  height: 40px;
  margin-top: 4px;
  padding-left: 42px;

  background: transparent;

  cursor: pointer;
  outline: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:focus,
  &:hover {
    border-color: $blue-color;
  }
  @media screen and (min-width: 480px) and (max-width: 1199px) {
    width: 370px;
  }
}
