.modal-form__text--area {
  margin-top: 4px;
  padding: 12px 16px;
  width: 448px;
  height: 120px;

  font-size: 12px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  resize: none;
  outline: none;

  color: rgba(117, 117, 117, 0.5);

  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:focus,
  &:hover {
    border-color: $blue-color;
  }
  @media screen and (min-width: 480px) and (max-width: 1199px) {
    width: 370px;
  }
}
