.content__cards--list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  margin-left: -30px;
  margin-top: -30px;
  &.content__cards--item {
    &:hover,
    &:focus {
      cursor: pointer;

      background: $white-color;

      border: 1px solid #eeeeee;
      box-sizing: border-box;
      box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
        0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);

      transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1),
        box-sizing 250ms cubic-bezier(0.4, 0, 0.2, 1),
        box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    flex-basis: calc(100% / 3 - 30px);
    margin-left: 30px;
    margin-top: 30px;

    background: $white-color;
    border: 1px solid #eeeeee;
  }
}
.content__cards--item:hover .content__cards--overlay {
  transform: translatey(0);
}
