.footer__design {
  text-align: center;
  &__container {
    margin-right: auto;
    margin-left: auto;
  }
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  @media screen and (min-width: 1200px) {
    align-items: baseline;
    text-align: inherit;
    justify-content: space-between;
  }
}
