.footer__logo {
  text-align: center;
  margin-bottom: 30px;
  font-family: Raleway;
  font-weight: bold;
  font-size: 24px;
  line-height: 1.38;
  color: $black-color;
  text-decoration: none;
  &--web {
    color: $blue-color;
  }
  &--studio {
    color: $white-color;
  }
}
