.form {
  margin: 0px;
  padding-left: 0px;
}
.form__title {
  text-align: center;
  margin-top: 60px;
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: $white-color;
  @media screen and (min-width: 1200px) {
    text-align: inherit;
  }
  @media screen and (min-width: 768px) {
    margin-top: 0px;
  }
}
.form__button {
  display: block;
  @media screen and (min-width: 1200px) {
    display: flex;
  }
}
.form__input {
  width: 100%;
  height: 50px;
  padding-left: 16px;

  color: rgba(255, 255, 255, 0.6);
  background: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  @media screen and (min-width: 1200px) {
    width: 358px;
  }
}
.form__btn {
  justify-content: center;
  align-items: center;

  width: 200px;
  height: 50px;
  margin-top: 20px;

  background-color: $blue-color;
  border-radius: 4px;
  color: $white-color;
  cursor: pointer;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: none;
  border-radius: 4px;

  letter-spacing: 0.06em;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: #f5f5d7;
    background-color: #0089fa;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  }
  @media screen and (min-width: 1200px) {
    margin-top: 0px;
    margin-left: 12px;
  }
}

.form__icon--send {
  width: 24px;
  height: 24px;
  margin-left: 10px;
  fill: $white-color;
}
