$main-color: #212121;
$black-color: #000000;
$grey-color: #757575;
$blue-color: #2196f3;
$white-color: #ffffff;
$background: #2f303a;
$section-grey: #f5f4fa;
$light-grey: #e5e5e5;
$border-client: #afb1b8;
